* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: center;
    background-color: #000000;
}

h1 {
    font-size: 50px;
    color: #ffffff;
}

h2 {
    font-size: 42px;
    color: #ffffff;
    font-weight: 300;
}

.p-text {
    font-size: 21px;
    color: gray;
}

a {
    color: aquamarine !important;
    font-size: 16px;
}

video {
    object-fit: contain;
}

footer p{
    text-align: right !important;
}

.footer-text {
    font-size: 21px;
    color: gray;
}

